<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="AllFilesAccessPolicy,ScopedStorage" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".DroidVMApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DroidVM"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.DroidVM.Splash"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.setup.SetupActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.DroidVM.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.DroidVM.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.vm.edit.VMEditActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.DroidVM.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.vm.info.VMInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.DroidVM.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.vm.console.VMConsoleActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.DroidVM.NoActionBar.Dark"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.vm.display.vnc.display.VMVncDisplayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.DroidVM.NoActionBar.Dark"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.vm.display.vnc.display.VMVncPresentationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.DroidVM.NoActionBar.Dark"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.disk.lxc.ImportLxcImagesActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.DroidVM.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.disk.images.ImportImagesActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.DroidVM.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.disk.download.ImportURLActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.DroidVM.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.disk.operation.DiskOperationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.DroidVM.NoActionBar.Dark"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.agent.password.ChangePasswordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.DroidVM.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.agent.AgentOperationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.DroidVM.NoActionBar.Dark"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.disk.create.DiskCreateActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.DroidVM.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.disk.info.DiskInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.DroidVM.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.network.edit.NetworkEditActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.DroidVM.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.network.info.NetworkInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.DroidVM.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.logs.LogsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.DroidVM.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.hugepage.HugePageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="true"
            android:theme="@style/Theme.DroidVM.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
